@use '../../abstracts/variables' as *;


.project {
    background-color: #121214;
    // background-color: #adbdde;

    h2 {
        color: #fff
    }

    .project_swiper {

        


        .project_box {
            padding-bottom: 50px;
            
            h3 {
                margin-bottom: 30px;
                font-size: 24px;
                font-weight: 500;
                color: #fff;
            }
    
            .img_box {
                margin-bottom: 50px;
                width: 100%;
            }
    
            .info {
                margin-bottom: 50px;
                li {
                    padding-left: 20px;
                    position: relative;
                    line-height: 1.6;
                    
                    p {
                        font-size: 18px;
                        font-weight: 400;
                        color: #fff;
                        letter-spacing: -0.03em;
    
                    }
    
    
                    &:after {
                        content: "";
                        width: 5px;
                        height: 5px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #fff;
                        border-radius: 50%;
    
                    }
                }
            }
    
            .url {
                p {
                    margin-bottom: 8px;
                    font-size: 18px;
                    color: #fff;
                    letter-spacing: -0.03em;
    
                    
                }
            }
        }

        .project-navigation {
            width: 100px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 0;
            bottom: 30px;
            

            button {
                position: static ;
                background: none;
                border: none;

                &:after {
                    display: none;
                }
            }
        }
        
        .project-pagination {
            width: auto;
            display: flex;
            justify-content: end;
            gap: 8px;
            position: absolute;
            right: 0;
            bottom: 10px;

            .swiper-pagination-bullet {
                margin-right: 0;
                width: 20px ;
                height: 5px;
                border-radius: 0;
            }
        }
    }

    
    


}